ul{
  display: flex;
  justify-content:right;
  align-items: flex-end;
  gap: 1rem;
  
}
li:nth-child(4){
  margin-right: 2rem;
 
}

a{
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}
a:hover{
  color: #e16d3f;
}
.active{
  color: black;
}
.hamburger{
  color: #d9480f;
  font-size: 4rem;
}
.close{
  color: #000;
}


#page-wrap {
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}


/* Color/shape of burger icon bars on hover


/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #000;
  font-size: 1rem;
}


.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #f76707;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
